# These owners are the maintainers and approvers of this repo
*       @radius-project/maintainers-bicep-types-aws @radius-project/approvers-bicep-types-aws

# Specific ownership for go.mod and go.sum in the root directory to allow the on-call team to approve dependency version updates (Dependabot PRs)
src/aws-type-downloader/go.mod  @radius-project/on-call
src/aws-type-downloader/go.sum  @radius-project/on-call