# General maintainers and approvers for the entire repository
* @radius-project/maintainers-bicep-types-aws @radius-project/approvers-bicep-types-aws

# Ownership for dependency-related files. Allow the on-call team to approve dependency version updates (e.g., from Dependabot PRs)
# Files in `src/aws-type-downloader`
src/aws-type-downloader/go.mod  @radius-project/on-call
src/aws-type-downloader/go.sum  @radius-project/on-call
# Files in `src/aws-type-generator`
src/aws-type-generator/package-lock.json @radius-project/on-call
src/aws-type-generator/package.json @radius-project/on-call