# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Approve Publish Bicep Types

on:
  pull_request:
    branches:
      - main
      - features/*
      - release/*

jobs:
  approve-publish:
    name: "Approve Publish Bicep Types"
    runs-on: ubuntu-latest
    environment: publish-bicep
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Save PR number
        uses: ./.github/actions/save-pr-as-artifact

      - name: Publish Bicep
        run: echo "Publishing Bicep types..."
