# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Approve Publish Bicep Types

on:
  pull_request:
    branches:
      - main
      - features/*
      - release/*

jobs:
  approve-publish:
    name: "Approve Publish Bicep Types"
    runs-on: ubuntu-latest
    environment: publish-bicep
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Save PR number
        uses: ./.github/actions/save-pr-as-artifact

      - name: Publish Bicep
        run: echo "Publishing Bicep types..."
