# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Approve Publish Bicep Types

on:
  pull_request:
    branches:
      - main
      - features/*
      - release/*

permissions: {}

jobs:
  approve-publish:
    name: Approve Publish Bicep Types
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read
    environment: publish-bicep
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Save PR number
        uses: ./.github/actions/save-pr-as-artifact

      - name: Publish Bicep
        run: echo "Publishing Bicep types..."
