# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Build and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: src/aws-type-downloader/go.mod
          cache-dependency-path: src/aws-type-downloader/go.sum

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20

      - name: Build aws-type-downloader
        env:
          GOPROXY: https://proxy.golang.org
        working-directory: src/aws-type-downloader
        run: go build .

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          working-directory: src/aws-type-downloader

      - run: git submodule update --init --recursive

      - run: npm ci
        working-directory: bicep-types/src/bicep-types

      - run: npm run build
        working-directory: bicep-types/src/bicep-types

      - run: npm ci
        working-directory: src/aws-type-generator

      - run: npm run build
        working-directory: src/aws-type-generator

      - run: npm test
        working-directory: src/aws-type-generator
