# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Build and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "src/aws-type-downloader/go.mod"
          cache-dependency-path: "src/aws-type-downloader/go.sum"

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "20"

      - name: Build aws-type-downloader
        env:
          GOPROXY: "https://proxy.golang.org"
        working-directory: "src/aws-type-downloader"
        run: go build .

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest
          working-directory: "src/aws-type-downloader"

      - run: git submodule update --init --recursive

      - run: npm ci
        working-directory: "bicep-types/src/bicep-types"

      - run: npm run build
        working-directory: "bicep-types/src/bicep-types"

      - run: npm ci
        working-directory: "src/aws-type-generator"

      - run: npm run build
        working-directory: "src/aws-type-generator"

      - run: npm test
        working-directory: "src/aws-type-generator"
