# ------------------------------------------------------------
# Copyright 2023 The Radius Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#    
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ------------------------------------------------------------

name: Update extensibility provider types
on:
  pull_request:
    paths:
      - "artifacts/bicep/**"
  workflow_dispatch:
    inputs: {}

jobs:
  update-types:
    name: Update Bicep extensibility provider types
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      GOVER: '^1.18'
      GOPROXY: https://proxy.golang.org
    steps:
      - uses: actions/checkout@v3

      - id: get_commit_commit_hash
        name: Get commit hash (project-radius/bicep-types-aws)
        run: |
          echo "::set-output name=commit_hash_short::$(git rev-parse HEAD --short)"
          echo "::set-output name=gh_uri::https://github.com/project-radius/bicep-types-aws/tree/$(git rev-parse HEAD)/artifacts/bicep"

      - name: Clone https://github.com/project-radius/bicep
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
          repository: project-radius/bicep
          path: workflow-temp/bicep
          ref: bicep-extensibility

      - name: Copy generated files to project-radius/bicep repo
        run: |
          mkdir -p workflow-temp/bicep/src/Bicep.Types.Aws/generated
          cp -R artifacts/bicep/* workflow-temp/bicep/src/Bicep.Types.Aws/generated

      - name: Create Pull Request in project-radius/bicep repo
        uses: peter-evans/create-pull-request@v4
        with:
          path: workflow-temp/bicep
          token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
          committer: rad-ci-bot <rad-ci-bot@users.noreply.github.com>
          author: rad-ci-bot <rad-ci-bot@users.noreply.github.com>
          signoff: false
          branch: aws-types/patch-${{ github.event.pull_request.number }}
          delete-branch: true
          title: |
            Update AWS extensibility provider for Bicep
          body: |
            ## Autogenerated Report 
            - Updates Bicep extensibility type definitions generated from [project-radius/bicep-types-aws](${{ steps.get_commit_hash.outputs.gh_uri }})
          commit-message: |
            update generated types from ${{ steps.gets_commit_hash.outputs.gh_uri }}
          labels: |
            autogenerated
            github_actions
            aws-types
          draft: false
